
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Dd]ebug*/
*.lib
*.sbr
obj/
/EasyCMS/libEasyCMS/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.sdf
*.sdp
*.o
*.exp
[Ll]ogs*/
[Pp]rivate*/
*.user
*.264
*.ts
*.m3u8
/build
/dist/
Movies*/
*.dep.inc
*.opensdf
/Debug
/Relese
/dev/DssAACEncoder/build/
/dev/DssAACEncoder/dist/
/dev/DarwinStreamingSrvr/APICommonCode/build/
/dev/DarwinStreamingSrvr/APICommonCode/dist/
/dev/DarwinStreamingSrvr/CommonUtilitiesLib/build/
/dev/DarwinStreamingSrvr/CommonUtilitiesLib/dist/
/dev/DarwinStreamingSrvr/APIStubLib/build/
/dev/DarwinStreamingSrvr/APIStubLib/dist/
/dev/DarwinStreamingSrvr/QTFileLib/build/
/dev/DarwinStreamingSrvr/QTFileLib/dist/
/dev/DarwinStreamingSrvr/QTFileLib/QTFileExternalLib/build/
/dev/DarwinStreamingSrvr/QTFileLib/QTFileExternalLib/dist/
/dev/DarwinStreamingSrvr/MP3Broadcaster/build/
/dev/DarwinStreamingSrvr/MP3Broadcaster/dist/
/dev/DarwinStreamingSrvr/APIModules/QTSSRawFileModule.bproj/build/
/dev/DarwinStreamingSrvr/APIModules/QTSSRawFileModule.bproj/dist/
/dev/DarwinStreamingSrvr/APIModules/QTSSRefMovieModule/build/
/dev/DarwinStreamingSrvr/APIModules/QTSSRefMovieModule/dist/
/dev/DarwinStreamingSrvr/APIModules/QTSSSpamDefenseModule.bproj/build/
/dev/DarwinStreamingSrvr/APIModules/QTSSSpamDefenseModule.bproj/dist/
/dev/DarwinStreamingSrvr/SafeStdLib/build/
/dev/DarwinStreamingSrvr/SafeStdLib/dist/
/dev/DarwinStreamingSrvr/SafeStdLib/SafeInternalStdLib/build/
/dev/DarwinStreamingSrvr/SafeStdLib/SafeInternalStdLib/dist/
/dev/DarwinStreamingSrvr/StreamingServer/build/
/dev/DarwinStreamingSrvr/StreamingServer/dist/